.button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;

	font-size: 14px;
	line-height: 18px;
	font-family: $font;
	text-transform: uppercase;
	text-decoration: none;

	border: none;
}


@media (min-width: $tablet-width) {

	.button {
		min-height: 52px;
		font-size: 20px;
		line-height: 20px;
	}
}