.comment__text {
	margin: 0;

	font-size: 16px;
	line-height: 18px;
}

.comment__text textarea {
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	padding: 14px 13px 14px 14px;

	color: #444444;
	text-transform: inherit;

	border: 1px solid #e6e6e6;

	&::placeholder {
		font: inherit;
		color: inherit;
	}

	&:hover {
		border-color: #cdcdcd;
	}

	&:focus {
		border: 2px solid #444444;
		outline: none;
	}
}


@media (min-width: $tablet-width) {

	.comment__text {
		font-size: 20px;
		line-height: 20px;
	}

	.comment__text textarea {
		height: 174px;
		padding: 14px 20px;
	}
}