.page-header__wrapper {
	box-sizing: border-box;
	width: 100%;
}


@media (min-width: $tablet-width) {

	.page-header {
		margin-bottom: 60px;
	}

	.page-header__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 23px $tablet-padding 0;
	}

	.page-header__logo {
		margin-right: 92px;
	}
}


@media (min-width: $desktop-width) {

	.page-header {
		position: absolute;

		width: 100%;
		margin-bottom: 0;
	}

	.page-header__wrapper {
		padding: 54px $desktop-padding 75px;
	}

	.inner-page .page-header {
		position: static;
	}
}