.page-footer {
	background-color: $bg-3;
}

.page-footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding: 38px 20px 22px;
}

.page-footer__logo {
	margin-bottom: 27px;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}
}

.page-footer__social {
	margin-bottom: 22px;
}


@media (min-width: $tablet-width) {

	.page-footer__wrapper {
		flex-direction: row;
		justify-content: space-between;
		box-sizing: border-box;
		min-height: 150px;
		padding: 0 30px;
	}

	.page-footer__logo {
		width: 165px;
		margin-bottom: 0;
	}

	.page-footer__social {
		margin-bottom: 7px;
		margin-left: -20px;
	}

	.page-footer__copyright {
		margin-bottom: 7px;
	}
}


@media (min-width: $desktop-width) {

	.page-footer__wrapper {
		padding: 5px $desktop-padding 0;
	}

	.page-footer__social {
		margin-left: -14px;
	}
}