.product {
	padding: 1px 20px 24px;
}

.product__image {
	display: flex;
	float: left;
}

.product__title {
	display: inline-block;
	max-width: 80px;
	margin: 20px 0 15px;
	
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	font-family: $font;
	color: #000000;
	text-transform: uppercase;
}

.product__desc {
	width: calc(100% - 140px);

	font-size: 12px;
	line-height: 16px;

	border-spacing: 0;
}

.product__field,
.product__value {
	width: 50%;
	padding: 0;
}

.product__value {
	text-align: right;
}

.product__button {
	clear: both;
	
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;

	background-color: #68b738;

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);
	}
}

@media (min-width: $tablet-width) {

	.product {
		padding: 0 38px 37px;

		background-image: linear-gradient(transparent 82px, #f2f2f2 82px);
		background-repeat: no-repeat;
		background-position: top;
	}

	.product__image {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		height: 208px;
		margin: 0 auto 38px;

		img {
			width: auto;
			height: auto;
		}
	}

	.product__title {
		display: block;
		max-width: 140px;
		margin: 0 auto 18px;

		font-size: 20px;
		text-align: center;
	}

	.product__desc {
		width: 100%;
		margin-bottom: 33px;

		font-size: 16px;
	}

	.product__field,
	.product__value {
		padding: 8px 0 7px;

		border-bottom: 1px solid #cdcdcd;
	}

	.product__button {
		min-height: 40px;
	}
}


@media (min-width: $tablet-width) {

	.product {
		padding: 0 38px 40px;
	}
}