.promo {
	font-family: $font;
	text-align: center;
	color: $color-3;

	background-image: 
	url(../img/bg-mobile.jpg), 
	linear-gradient(to bottom, #64a83b 305px, $bg-1 305px);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 320px 305px, 100%;

	@media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
		background-image: 
		url(../img/bg-mobile@2x.jpg), 
		linear-gradient(to bottom, #64a83b 305px, $bg-1 305px);
	}
}

.promo__wrapper {
	box-sizing: border-box;
	min-height: 480px;
	margin-left: auto;
	margin-right: auto;
	padding: 26px 20px 24px;
}

.promo__title {
	margin: 0;
	margin-bottom: 25px;

	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
}

.promo__info {
	margin: 0;
	margin-bottom: 29px;

	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
}

.promo__button {
	width: 100%;
	margin: 0 auto;

	background-color: $bg-2;

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		color: rgba(255, 255, 255, 0.3);
	}
}


@media (min-width: $tablet-width) {

	.promo {
		text-align: left;
		color: $color-2;

		background-color: $bg-1;
		background-image: none;
	}

	.promo__wrapper {
		position: relative;

		width: $tablet-width;
		min-height: 810px;
		padding: 0;
		padding-left: 117px;
		padding-right: 222px;
	}

	.promo__title {
		margin-bottom: 40px;

		font-size: 60px;
		line-height: 60px;
	}

	.promo__info {
		margin-bottom: 48px;

		font-size: 20px;
		line-height: 20px;
	}

	.promo__image-box {
		position: absolute;
		left: 0;
		bottom: -5px;
		right: 0;

		margin: auto;

		text-align: center;
	}

	.promo__image {
		width: 709px;
		height: 609px;
	}

	.promo__button {
		position: relative;
		z-index: 1;

		width: 245px;
		min-height: 52px;
		margin: 0;

		color: $color-3;
	}
}


@media (min-width: $desktop-width) {

	.promo {
		min-height: 696px;
		margin-bottom: 80px;
		padding: 1px;

		background-image: url(../img/bg-desktop.jpg),
		linear-gradient(to right, $bg-1 50%, #64a83b 50%);
		background-position: top right;
		background-size: 50% auto, 100%;

		@media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
			background-image: url(../img/bg-desktop@2x.jpg),
			linear-gradient(to right, $bg-1 50%, #64a83b 50%);
		}
	}

	.promo__wrapper {
		position: relative;

		width: 1220px;
		min-height: 499px;
		margin: 142px auto 0;
		padding: 80px 0 0 80px;
	}

	.promo__title {
		width: 490px;
		margin-bottom: 40px;
	}

	.promo__info {
		margin-bottom: 53px;
	}

	.promo__image-box {
		position: absolute;
		top: 0;
		left: 0;
		bottom: -5px;
		right: 0;

		width: 552px;
		height: 499px;
		margin: auto;

		text-align: center;

		transform: translateX(116px);
	}

	.promo__image {
		width: 552px;
		height: 499px;
	}
}